.snackbar-container {
	position: fixed;
	margin: 3rem;
	width: 15rem;
	border-radius: 0.5rem;
	box-shadow: var(--box-shadow);
	z-index: 3;
	top: 2rem;
	right: 0;
	color: var(--text-white);
	padding: 2rem 4rem;
	align-items: center;
}

.display-none {
	display: none;
}

.success {
	background-color: var(--primary);
}

.alert {
	background-color: var(--danger-color);
}
