.sidebar {
	position: relative;
	left: 120rem;
	z-index: 1000;
	width: 12rem;
	background-color: var(--bg-color-1);
	border: 0.1rem solid black;
	max-height: 32rem;
	border-radius: 0.5rem;
}

.sidebar-heading {
	font-size: 1.8rem;
	margin-left: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 0rem;
	cursor: pointer;
	padding-top: 2rem;
}
