.sidebar {

	left: 110rem;
	margin-top: 10rem;
	/* margin-top: 1rem; */
	z-index: 1000;
	width: 15rem;
	background-color: var(--bg-color-1);
	max-height: 30rem;
	border-radius: 0.5rem;
	position: sticky;
}

.sidebar-heading {
	font-size: 1.8rem;
	margin-left: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 0rem;
	cursor: pointer;
	padding-top: 2rem;
}
