.note-cards{
margin-top: 10rem;
}
.dateOnCard{
  position: absolute;
  padding: 0.4rem;
  background-color:transparent;
  font-size: 12px ;
}

.note-icon-container {
  margin-left: 30rem;
}

.card_tags_container {
  background-color: var(--bg-color-1);
  padding: 0.5rem 1.5rem;
  position: absolute;
  bottom: 1rem;
  left: 2rem;
}

.card_tags {
  padding: 0.2rem 0.5rem;
  margin: 0.1rem 0.3rem;
}

.card_icons_container {
  position: absolute;
  background-color: var(--primary);
  padding: 0.8rem 2rem;
  bottom: 1rem;
  right: 2rem;
}

.card_icons {
  cursor: pointer;
  font-size: 1.8rem;
  margin: 0 0.8rem;
}
